*{
    margin: 0;
    padding: 0px;        
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;    
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    gap:10px;
    
}

body{
    border-style: solid;
    border-color: aliceblue;    
}
.listas{   
    
    padding: 5px;
    border-radius: 10px;
}

.pie{   
    padding: 5px;
    border-radius: 10px;
}

div h3{
    text-align:  center;
}

.pie p{
    text-align: right;
}
